body {
    /*background: #ff9585;*/
    margin: 0;
    font-family: sans-serif;
}

.container {
    /*background: #4251ff;*/
    max-width: 1176px;
    padding-left: 94px;
    padding-right: 94px;
    margin: 0 auto;
}

.absolute {
    position: absolute;
}

.header-nav {
    align-items: center;
    height: 102px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner-content {
    width: 43%;
    float: right;
    position: relative;
    right: 0;
    top: 129px;
}

.banner-content_h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    color: #5a5a5a;
}

.banner-content_p {
    padding-top: 20px;
    font-size: 20px;
    color: #5a5a5a;
    line-height: 1.5;
    font-family: sans-serif;
}

.logo-header {
    width: 46px;
    height: 40px;
}

.header-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header-item {
    margin-right: 30.5px;
    border-bottom: 1px solid transparent;
}

.header-item:last-child {
    margin-right: 0px;
}

.header-item:hover {
    border-bottom: 1px solid #000;
}

.header-item:hover a{
    color: #000;
}



.header-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #5a5a5a;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
}

.header-item:first-child a {
    color: #76d4d0;
    font-weight: bold;
}

header {
    height: 670px;
    background: #e9e9e9;
    background-image: url("../img/banner-img.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.btn {
    padding: 18px 47px;
    border: 1px solid #10c9c3;
    background: #10c9c3;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
}


.btn:hover {
    background-color:#0ce3dc;
    background-image: -moz-linear-gradient(top, #0ce3dc 0%, #33807d 100%);
    background-image: -webkit-linear-gradient(top, #0ce3dc 0%, #33807d 100%);
    background-image: -o-linear-gradient(top, #0ce3dc 0%, #33807d 100%);
    background-image: -ms-linear-gradient(top, #0ce3dc 0% ,#33807d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33807d', endColorstr='#33807d',GradientType=0 );
    background-image: linear-gradient(top, #0ce3dc 0% ,#33807d 100%);
    -webkit-box-shadow:5px 7px 7px #bababa;  -moz-box-shadow: 5px 7px 7px #bababa;  box-shadow:5px 7px 7px #bababa;
}

.btn:active {
    background-color: #255282;
    background-image: -moz-linear-gradient(top, #255282 0%, #33807d 100%);
    background-image: -webkit-linear-gradient(top, #255282 0%, #33807d 100%);
    background-image: -o-linear-gradient(top, #255282 0%, #33807d 100%);
    background-image: -ms-linear-gradient(top, #255282 0% ,#33807d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33807d', endColorstr='#33807d',GradientType=0 );
    background-image: linear-gradient(top, #255282 0% ,#33807d 100%);
    -webkit-box-shadow:5px 7px 7px #bababa;  -moz-box-shadow: 5px 7px 7px #bababa;  box-shadow:5px 7px 7px #bababa;
}

.btn-banner {
    margin-top: 2rem;
    position: absolute;
}

/*Section Main*/

.main {
    text-align: center;
}

/*Section About*/

.about {
    background: #ffffff;
    width: 620px;
    margin: 0 auto;
    margin-top: 84px;
    margin-bottom: 80px;

}

.about > div {
    padding-top: 13px;
    padding-bottom: 16px;
}

.about-title {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #000;
}

.about-text {
    font-size: 14px;
    color: #5a5a5a;
    line-height: 1.7;
    font-family: sans-serif;
    letter-spacing: 1.7px;
}

.about-sign {
    width: 100%;
    padding-left: 6px;
}

/*Section skills*/

.skills_wrapper {
    display: flex;
    flex-direction: row;
    height: 560px;
}

.skills-content {
    flex: 0 0 50%;
    width: 50%;
}

.skills-content_wrap {
    width: 500px;
    position: relative;
    top: 150px;
    left: 0px;
    right: 0;
}

.skills-content_title {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #000;
}

.skills-content_text {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    font-family: sans-serif;
    text-transform: uppercase;
}

.skills-content_grey-line {
    width: 100%;
    height: 3px;
    background: #d8d8d8;
}

.skills-content_grey-line_inner {
    height: 3px;
    background: #10c9c3;
}

.bg-green-75 {
    width: 67%;
}

.bg-green-90 {
    width: 85%;
}

.bg-green-65 {
    width: 55%;
}

.skills-img {
    flex: 0 0 52%;
}

.skills-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Section Numbers*/

.numbers {
    background: #10c9c3;
    height: 235px;
}

.numbers-wrap {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}

.numbers-wrap_item {
    width: 25%;
    flex: 0 0 0 25%;
    margin-right: 36px;
    display: flex;
    flex-direction: row;
}

.numbers-wrap_item:last-child {
    margin-right: 0;
}

.numbers-wrap_item_img {
    width: 43px;
    padding-right: 25px;
}

.numbers-wrap_item_content {
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    font-family: sans-serif;
    text-transform: uppercase;
    line-height: 22px;
}

.numbers-wrap_item_content > span {
    font-size: 20px;
    font-weight: 700;
    line-height: 2px;
}

/*Section Work-main*/

.works {
    display: flex;
    flex-wrap: wrap;
    /*width: 1366px;*/
    width: 100%;
    margin: 0 auto;

}

.works_items {
    width: 25%;
    flex: 0 0 0 25%;
    /*flex-wrap: wrap;*/
    height: 300px;
    background-image: url(../img/work-img.png);
}

.bg {
    background: #616161;
}

.works_load {
    height: 100px;
    width: 100%;
    background: #f5f5f5;
    text-align: center;
    line-height: 8;
    letter-spacing: 1px;
    font-size: 13px;
    color: #8e8e8e;
    font-weight: 700;
    font-family: sans-serif;
    text-transform: uppercase;

}

/*Section Work-process*/

.work-process {
    text-align: center;
}

.work-process_title {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #000;
    margin-top: 96px;
    margin-bottom: 20px;
}

.work-process_content {
    font-size: 15px;
    color: #5a5a5a;
    line-height: 1.5;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 30px;
    width: 500px;

}

.work-process_video {
    margin-top: 30px;
    margin-bottom: 100px;

}

.work-process_video video {
    width: 100%;
}

/*Section Service-main*/

.service-main {
    margin-bottom: 83px;
}

.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service_items {
    width: 20%;
    flex: 0 0 0 20%;
    text-align: center;
    padding: 20px;

}

.service_items_img {
    width: 54px;
    height: 51px;
    padding-top: 6px;
}

.service_items_title {
    font-size: 14px;
    padding: 20px 0px 2px 0px;
    color: #000;
    letter-spacing: 0.9px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.service_items_content {
    font-size: 15px;
    padding-top: 10px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: #5a5a5a;
    font-family: sans-serif;
    }


/*Section Slider */


.slider-main {
    height: 327px;
    background: #10c9c3;
    padding-top: 176px;
}

.slider-main-wrap {
    width: 814px;
    text-align: center;
    margin: 0 auto;
}

.item-text {
    font-size: 23px;
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #fff;
    font-family: sans-serif;
}

.item-autor {
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: bold;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-top: 27px;
    margin-bottom: 86px;
}

.owl-prev span{
    font-size: 40px;
    padding-right: 15px;
    color: #fff;
}

.owl-next span{
    font-size: 40px;
    padding-left: 15px;
    color: #fff;
}

.owl-prev:focus {
    outline: none;
}

.owl-next:focus {
     outline: none;
 }



/*Section Clients*/


.clients {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.client-item {
    width: 100%;
    text-align: center;
}

/*Section Form*/

.form-main {
    background: #f5f5f5;
    height: 750px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-main-wrap {
    width: 667px;
    text-align: center;
    position: absolute;
    top: 100px;

}

.form-main-title {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #000;
}

.form-main-text {
    font-size: 15px;
    color: #5a5a5a;
    line-height: 1.5;
    font-family: sans-serif;
    letter-spacing: 1.1px;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 36px;
    width: 565px;
}

.form-main_form_row {
    display: flex;
    flex-direction: row;
}

.form-main_form_row > input {
    height: 43px;
    width: 50%;
    margin-bottom: 15px;
    padding-left: 17px;
    font-size: 15px;
    border: transparent;
}

.mr15 {
    margin-right: 15px;
}

.ml15 {
    margin-left: 15px;
}

.form-main_form_col {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.form-main_form_col > input {
    height: 43px;
    padding-left: 17px;
    font-size: 15px;
    margin-bottom: 13px;
    border: transparent;
}

.form-main_form_col > textarea {
    height: 150px;
    padding-left: 17px;
    padding-top: 15px;
    font-size: 15px;
    margin-bottom: 15px;
    border: transparent;
}

.form-main_btn {
    padding: 21px 36px;
    font-weight: bold;
}


/*Footer section*/

footer {
    background: #141414;

}

.footer-wrap {
    height: 284px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-wrap_item {}

.item_block3 {
    display: flex;
    flex-direction: row;
}

.footer-wrap_item-title{
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.9px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-wrap_item-text{
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: #fff;
    font-family: sans-serif;
}

.footer-wrap_item_ul {
    margin: 0;
    list-style: none;
}

.footer-wrap_item-li{}

.footer-wrap_item-text{
    text-decoration: none;
}



