body {
    /*background: #ff9585;*/
    margin: 0;
    font-family: sans-serif;
}

.container {
    /*background: #4251ff;*/
    max-width: 1176px;
    padding-left: 94px;
    padding-right: 94px;
    margin: 0 auto;
}

.header-nav {
    align-items: center;
    height: 102px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner {
    height: 20px    ;
    background: #1cff37;

}

.banner-img {
    width: 50%;
    position: relative;
}

.banner-content {
    /*background: #85c7ff;*/
    width: 43%;
    float: right;
    position: relative;
    right: 0;
    top: 129px;
}

.banner-content_h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    color: #5a5a5a;
}

.banner-content_p {
    padding-top: 20px;
    font-size: 20px;
    color: #5a5a5a;
    line-height: 1.5;
    font-family: sans-serif;
}

.logo-header {
    width: 46px;
    height: 40px;
}

.header-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header-item {
    margin-right: 30.5px;
}

.header-item:last-child {
    margin-right: 0px;
}

.header-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #5a5a5a;
    font-family: 'Spartan', sans-serif;
}

.header-item:first-child a {
    color: #76d4d0;
}

header {
    height: 670px;
    background: #e9e9e9;
}

.btn {
    padding: 18px 47px;
    border: 1px solid #10c9c3;
    background: #10c9c3;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
}

/*Section Main*/

.main {
    text-align: center;
    background: #ff9585;
}


/*Section About*/

.about {
    background: #85c7ff;
    
}

.about-title {}

.about-text {}


.btn-banner {
    margin-top: 2rem;
    position: absolute;
}

@media (max-width: 425px) {
    .container {
        max-width: 290px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

    .header-nav {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .header-ul {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .header-item {
        margin: 4px;
        padding-top: 10px;
    }
}

